.contactPage
  .worldMap
    position: absolute
    top: 0
    right: 0
    bottom: 0
    left: 0
    z-index: -1
    overflow: hidden

    svg
      position: absolute
      height: 3500px
      top: 50%
      left: 50%
      transform translate(-58%, -37%)

    path:first-child
      fill: var(--gray2)
      stroke: var(--gray2)

    path:last-child
      fill: var(--gray4)
      stroke: var(--gray5)
      stroke-width .5px

  :global(.container)
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center
    grid-gap 30px
    padding-top: 70px

  section
    display: flex
    flex-direction: column
    padding: 40px 70px
    margin-top: 2em
    border-radius 20px
    border: 1px solid rgba(white, 0.1)
    background var(--gray3)
    font-size: 1.2em
    font-weight: 300
    position: relative
    min-width 320px

    h2
      font-size: 3em
      line-height: 1
      white-space nowrap
      position: absolute
      top: 0
      left: 30px
      transform translateY(-.66em)

    .link
      color: var(--gray8)

      &:hover
        color: var(--gray12)

  .contacts
    .link
      display: flex
      align-items: center
      padding: 8px 0
      text-decoration none
      font-size: 1.25em

      svg
        width: 24px
        height: 24px
        margin-right: 20px

  .socials
    .links
      display: flex
      justify-content: space-between
      margin-top: 1em

      .link
        svg
          width: 44px
          height: 44px

@supports ((backdrop-filter: blur(50px)))
  .contactPage
    section
      background: none
      backdrop-filter blur(20px) brightness(1.5)


@media only screen and (max-width: 1500px)
  .contactPage
    section
      font-size: 1em
      min-width 280px
      padding: 30px 50px

    .socials
      .links
        .link
          svg
            width: 36px
            height: 36px


@media only screen and (max-width: 1200px)
  .contactPage
    .worldMap
      svg
        transform translate(-60%, -37%)

    section
      min-width 260px

      h2
        font-size: 2.7em


@media only screen and (max-width: 900px)
  .contactPage
    .worldMap
      svg
        height: 4000px
        transform translate(-63.2%, -37%)
        opacity: .7

    :global(.container)
      align-items: center

@media only screen and (max-width: 500px)
  .contactPage

    :global(.container)
      align-items: stretch
      padding-top: 40px

    section
      min-width: unset