.notFoundPage
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

  h2
    font-size: 10em
    line-height: 1
    font-weight: 700
    color: black

  button
    margin-top: 50px