.menu
  position fixed
  top 0
  right 0
  bottom 0
  left 0
  z-index: 0
  display: flex
  flex-direction: column
  align-items: center
  transform: translate3d(0, -100%, 0);
  transition transform .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);

  &.open
    transform: translate3d(0, 0, 0);

  h2
    margin: 0
    height: 118px
    display: flex
    align-items: center
    justify-content: center
    text-transform uppercase
    letter-spacing 5px
    font-size: 1.3em
    font-weight: 300
    color: var(--gray5)

  nav
    flex-grow: 1
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    font-size: 3em
    font-weight: 300
    margin-left: -20px
    text-transform uppercase
    letter-spacing: 10px

    ul
      display: flex
      flex-direction: column
      align-items: center
      li
        a
          text-decoration none
          padding: 20px 40px
          position: relative
          color: var(--gray6)
          transition color .3s ease-in-out
          line-height: 1

          &.active
            color: var(--gray12)

            &::before
              background: var(--primary-color)
              width: 100%

          &:not(.active):hover
            color: var(--gray10)

            &::before
              width: 100%

          &::before
            content: ''
            display: block
            position: absolute
            top: 50%
            left: 0
            width: 0
            height: 1px
            background: var(--gray6)
            transition .3s ease-in-out


  .socials
    display: flex
    padding: 40px

    .social
      a
        display: block
        text-decoration none
        padding: 10px 20px
        text-transform uppercase
        color: var(--gray6)
        transition color .3s

        &:hover
          color: var(--gray12)


@supports ((backdrop-filter: blur(50px))) {
  .menu {
    background: none
    backdrop-filter: blur(50px) brightness(.5) contrast(.8);
  }
}