:root {
  --gray1: #1c1c1e;
  --gray2: #2c2c2e;
  --gray3: #3a3a3c;
  --gray4: #48484a;
  --gray5: #636366;
  --gray6: #8e8e93;
  --gray7: #aeaeb2;
  --gray8: #c7c7cc;
  --gray9: #d1d1d6;
  --gray10: #e5e5ea;
  --gray11: #f2f2f7;
  --gray12: #f9f9fd;

  --light-blue: #007aff;
  --dark-blue: #0a84ff;
  --light-green: #34c759;
  --dark-green: #30d158;
  --light-indigo: #5856d6;
  --dark-indigo: #5e5ce6;
  --light-orange: #ff9500;
  --dark-orange: #ff9f0a;
  --light-pink: #ff2d55;
  --dark-pink: #ff375f;
  --light-purple: #af52de;
  --dark-purple: #bf5af2;
  --light-red: #ff3b30;
  --dark-red: #ff453a;
  --light-teal: #5ac8fa;
  --dark-teal: #64d2ff;
  --light-yellow: #ffcc00;
  --dark-yellow: #ffd60a;


  --material-red: #F44336;
  --material-pink: #E91E63;
  --material-purple: #9C27B0;
  --material-deep-purple: #673AB7;
  --material-indigo: #3F51B5;
  --material-blue: #2196F3;
  --material-light-blue: #03A9F4;
  --material-cyan: #00BCD4;
  --material-teal: #009688;
  --material-green: #4CAF50;
  --material-light-green: #8BC34A;
  --material-lime: #CDDC39;
  --material-yellow: #FFEB3B;
  --material-amber: #FFC107;
  --material-orange: #FF9800;
  --material-deep-orange: #FF5722;
  --material-brown: #795548;

  --primary-color: var(--material-amber);
}
